<template>
    <div class="margin-auto w-full max-w-xl">
        <div class="items-center" :key="task.id" v-for="task in tasks">
            <p class="block text-gray-700 text-sm font-bold mb-2">Task {{ task.id }}</p>
            <div class="flex">
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" :value="task.description" @input="e => { update(task, e.target.value) }">
                <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded ml-2 focus:outline-none focus:shadow-outline" @click="task.$delete()" type="button">
                    Delete
                </button>
            </div>
        </div>
    </div>
</template>

<script>
import Tasks from "@/models/Tasks";

export default {
    computed: {
        tasks () {
            // Fetch all post records.
            return Tasks.query().orderBy('id', 'desc').get()
        }
    },

    methods: {
        update (todo, description) {
            todo.$update({ description })
        },
    }
}

</script>