<template>
    <div class="margin-auto w-full max-w-xl">
        <form class="bg-white shadow-md rounded px-8 pt-8 pb-8 mb-8">
            <div class="items-center">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="task-description">
                    Task
                </label>
                <div class="flex">
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="task-description" v-model="taskDescription" type="text" placeholder="Task description">
                    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded ml-2 focus:outline-none focus:shadow-outline" @click="add" type="button">
                        Add
                    </button>
                </div>
            </div>
        </form>
    </div>
</template>

<script>
import Tasks from "@/models/Tasks";


export default {
    name: 'TodoAddForm',
    data: function () {
        return {
            taskDescription: ''
        }
    },
    methods: {
        add () {
            Tasks.insert({
                data: { description: this.taskDescription }
            })
            this.taskDescription = ''
        }
    }
}
</script>

<style scoped>


</style>
