<template>
  <div id="app">
      <div>
          <img class="margin-auto" alt="Vue logo" src="@/assets/logo.png">
      </div>
      <div class="container mx-auto">
          <TodoAddForm/>
          <TodoList/>
      </div>
  </div>
</template>

<script>
import TodoAddForm from "@/components/TodoAddForm";
import TodoList from "@/components/TodoList";
import store from "@/store";

export default {
    store,

    name: 'App',
    components: {
        TodoAddForm,
        TodoList,
    }
}
</script>

<style>
.margin-auto {
    margin: auto;
}

</style>
